.controls {
  position: absolute;
  bottom: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.3s linear;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5803921569), transparent);
  border-radius: 0 0 0.8rem 0.8rem;
}
.controls-actions {
  display: flex;
  margin: 0.5rem 1rem 1rem;
  align-items: center;
}
.controls.hidden {
  opacity: 0;
}
.controls:hover {
  opacity: 100%;
}
.controls__progress {
  height: 1rem;
  position: relative;
}
.controls-extra {
  margin-left: auto;
}

.progress {
  border-radius: 0.4rem;
  width: 100%;
  height: inherit;
  pointer-events: none;
}
.progress-seek {
  width: calc(100% - 4px);
  background: linear-gradient(to right, mistyrose 0%, mistyrose 0%, #fff 0%, #fff 100%);
}
.progress-seek:hover + .progress-tooltip {
  opacity: 100%;
  transition: all 0.25s linear;
}
.progress-tooltip {
  opacity: 0;
  transition: all 0.25s linear;
  position: absolute;
  top: -1.2rem;
  content: attr(data-title);
}

button {
  border: 0;
  background: transparent;
}

.button__audio-play, .button__audio-next, .button__audio-prev {
  height: 1.5rem;
}
.button__audio-play img, .button__audio-next img, .button__audio-prev img {
  height: inherit;
  filter: contrast(0.25);
  transition: all 0.2s ease;
}
.button__audio-play img:hover, .button__audio-next img:hover, .button__audio-prev img:hover {
  filter: contrast(0.1);
  transition: all 0.2s ease;
}
.button__audio-play {
  margin-left: auto;
}
.button__audio-play img {
  display: block;
}
.button__audio-play img.hidden {
  display: none;
}
.button__play {
  box-sizing: border-box;
  width: 0;
  height: 1rem;
  border-color: transparent transparent transparent white;
  border-style: solid;
  border-width: 0.5rem 0 0.5rem 0.9rem;
  transition: all 0.1s linear;
  cursor: pointer;
}
.button__play.paused {
  border-style: double;
  border-width: 0 0 0 0.9rem;
}
.button__play:hover {
  border-color: transparent transparent transparent mistyrose;
}
.button__pip {
  cursor: pointer;
}
.button__pip svg {
  width: 1.2rem;
  height: 1.2rem;
  color: white;
}
.button__pip svg:hover {
  color: mistyrose;
}
.button__pip svg.hidden {
  display: none;
}
.button__sound-state svg {
  color: white;
  padding: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 1.2rem;
  height: 1.2rem;
}
.button__sound-state svg:hover {
  color: mistyrose;
  transition: all 0.3s ease;
}
.button__sound-state .hidden {
  display: none;
}

.volume-slider {
  height: 0.3rem;
}
.volume-slider[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  outline: 0px solid lightslategray;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 0.2rem;
  background-color: lightslategray;
  transition: all 0.2s linear;
}

.video-container {
  max-width: 50rem;
  margin: auto;
  position: relative;
  height: min-content;
  overflow: hidden;
  border: 1px double mistyrose;
  border-radius: 0.7rem;
}
.video-container:hover .controls {
  opacity: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  background: lightslategray;
}

body {
  margin: 0;
  height: 100%;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 500;
  color: white;
  font-size: 0.75rem;
}

input {
  margin: 0;
}

body, video {
  width: 100%;
}

html, main {
  height: 100%;
}

video {
  border-radius: 0.7rem;
}

a {
  color: inherit;
  text-decoration: none;
}

.footer-copyright {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  background: mistyrose;
  color: slategray;
  font-weight: 800;
  align-items: center;
}
.footer-copyright img {
  height: 1.5rem;
  max-width: 6rem;
  object-fit: cover;
  filter: contrast(0.1);
  transition: all 0.3s ease;
}
.footer-copyright img:hover {
  filter: contrast(0.5);
  transition: all 0.3s ease;
}
.footer-copyright a:hover {
  color: darkslategray;
}

input {
  cursor: pointer;
  -webkit-appearance: none;
  background: linear-gradient(to right, mistyrose 100%, mistyrose 100%, #fff 0%, #fff 100%);
  height: 0.5rem;
  border: solid 2px mistyrose;
  border-radius: 0.7rem;
}
input[type=range] {
  transition: all 0.2s linear;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  outline: 1px solid lightslategray;
  width: 1rem;
  height: 1rem;
  border-radius: 0.2rem;
  background-color: lightslategray;
  transition: all 0.2s linear;
}
input[type=range]::-webkit-slider-thumb:focus {
  border: solid 2px transparent;
  transition: all 0.2s linear;
}
input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1rem;
  height: 1rem;
  border-radius: 0.2rem;
  background-color: lightslategray;
}

.teaser {
  position: absolute;
  font-size: 2rem;
  font-weight: 900;
  top: 3rem;
  left: 2rem;
  padding: 1rem;
  border-radius: 0.7rem;
  transition: all 0.2s ease;
}
.teaser:hover {
  background: mistyrose;
  color: slategray;
}

.playback {
  position: absolute;
  width: 100%;
  top: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  opacity: 0;
  transform: zoom(1);
  transition: all 0.2s ease-in-out;
}
.playback button {
  height: 8rem;
  border-width: 4rem 0 4rem 8rem;
}
.playback.show {
  opacity: 1;
  transform: zoom(1.1);
}

.audio-container .playback {
  top: 18%;
}
.audio-container .playback .button__play {
  border-color: transparent transparent transparent mistyrose;
}
.audio-container .playback .button__play:hover {
  border-color: transparent transparent transparent lightslategray;
}
.audio-slider {
  background: mistyrose;
  width: 20rem;
  border-radius: 0.7rem;
  padding: 0 0 1rem;
  color: darkslategray;
  font-weight: 300;
}
.audio-slider input {
  border: solid 2px lightslategray;
  width: 70%;
}
.audio-volume {
  margin-left: auto;
}
.audio-volume input {
  opacity: 0;
  position: absolute;
  right: -1.8rem;
  z-index: 1;
  transform: rotate(270deg);
  width: 4rem;
}
.audio-volume:hover input {
  opacity: 100;
}
.audio-volume svg {
  color: dimgrey;
  margin-top: 0.3rem;
  padding: 0;
}
.audio-volume svg:hover {
  color: slategray;
}
.audio-slides {
  display: flex;
}
.audio-slides img {
  width: 0;
  height: 20rem;
  object-fit: cover;
  transition: all 0.1s ease;
}
.audio-slides img.selected {
  width: 20rem;
  transition: all 0.1s ease;
}
.audio-controls {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  align-items: center;
}
.audio-controls .controls__extra {
  display: flex;
  align-items: center;
  margin-right: -0.5rem;
}
.audio-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 8rem;
}
.audio-progress {
  display: flex;
  margin: 0 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: space-around;
}
.audio-progress__time {
  font-size: 0.55rem;
  font-weight: 900;
}

.playlist {
  padding: 0 0 0.5rem;
  margin: 0 0 0.5rem;
}
.playlist__item {
  display: flex;
  gap: 0.5rem;
  margin: 0;
  align-items: center;
  padding: 0.3rem 2rem;
  transition: all 0.2s ease;
  border-radius: 0.7rem;
}
.playlist__item:hover {
  background: slategray;
  transition: all 0.2s ease;
}
.playlist__item.current {
  background: slategray;
  transition: all 0.2s ease;
}
.playlist__item-info p {
  margin: 0.2rem 0;
}
.playlist__item img {
  width: 3.5rem;
  height: 3.5rem;
  object-fit: cover;
  border-radius: 100%;
}

.item-name {
  font-weight: 900;
}
.item-duration {
  font-size: 0.5rem;
}
.item-duration, .item-artist {
  font-weight: 100;
}