.controls {
  position: absolute;
  bottom: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.3s linear;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5803921569), transparent);
  border-radius: 0 0 0.8rem 0.8rem;
}
.controls-actions {
  display: flex;
  margin: 0.5rem 1rem 1rem;
  align-items: center;
}
.controls.hidden {
  opacity: 0;
}
.controls:hover {
  opacity: 100%;
}
.controls__progress {
  height: 1rem;
  position: relative;
}
.controls-extra {
  margin-left: auto;
}

.progress {
  border-radius: 0.4rem;
  width: 100%;
  height: inherit;
  pointer-events: none;
}
.progress-seek {
  width: 100%;
  cursor: pointer;
  -webkit-appearance: none;
  background: linear-gradient(to right, mistyrose 0%, mistyrose 0%, #fff 0%, #fff 100%);
  height: 0.5rem;
  border: solid 2px mistyrose;
}
.progress-seek:hover + .progress-tooltip {
  opacity: 100%;
  transition: all 0.25s linear;
}
.progress-seek[type=range] {
  transition: all 0.2s linear;
}
.progress-seek[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  outline: 1px solid lightslategray;
  width: 1rem;
  height: 1rem;
  border-radius: 0.2rem;
  background-color: lightslategray;
  transition: all 0.2s linear;
}
.progress-seek[type=range]:focus {
  border: solid 2px transparent;
  transition: all 0.2s linear;
}
.progress-seek[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1rem;
  height: 1rem;
  border-radius: 0.2rem;
  background-color: lightslategray;
}
.progress-tooltip {
  opacity: 0;
  transition: all 0.25s linear;
  position: absolute;
  top: -1.2rem;
  content: attr(data-title);
}

button {
  border: 0;
  background: transparent;
}

.button__play {
  box-sizing: border-box;
  width: 0;
  height: 1rem;
  border-color: transparent transparent transparent white;
  border-style: solid;
  border-width: 0.5rem 0 0.5rem 0.9rem;
  transition: all 0.1s linear;
  cursor: pointer;
}
.button__play.paused {
  border-style: double;
  border-width: 0 0 0 0.9rem;
}
.button__play:hover {
  border-color: transparent transparent transparent mistyrose;
}
.button__pip svg {
  width: 1.2rem;
  height: 1.2rem;
  color: white;
}
.button__pip svg:hover {
  color: mistyrose;
}
.button__pip svg.hidden {
  display: none;
}
.button__sound-state svg {
  color: white;
  padding: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 1.2rem;
  height: 1.2rem;
}
.button__sound-state svg:hover {
  color: mistyrose;
  transition: all 0.3s ease;
}
.button__sound-state .hidden {
  display: none;
}

.video-container {
  max-width: 50rem;
  margin: auto;
  position: relative;
  height: min-content;
  overflow: hidden;
  border: 1px double mistyrose;
  border-radius: 0.7rem;
}
.video-container:hover .controls {
  opacity: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  background: lightslategray;
}

body {
  margin: 0;
  height: 100%;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 500;
  color: white;
  font-size: 0.75rem;
}

input {
  margin: 0;
}

body, video {
  width: 100%;
}

html, main {
  height: 100%;
}

video {
  border-radius: 0.7rem;
}

.playback {
  position: absolute;
  width: 100%;
  top: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  opacity: 0;
  transform: zoom(1);
  transition: all 0.2s ease-in-out;
}
.playback button {
  height: 8rem;
  border-width: 4rem 0 4rem 8rem;
}
.playback.show {
  opacity: 1;
  transform: zoom(1.1);
}