.controls
    position: absolute
    bottom: 0
    width: 100%
    opacity: 0
    transition: all 0.3s linear
    background: linear-gradient(0deg, #00000094, transparent)
    border-radius: 0 0 0.8rem 0.8rem
    &-actions 
        display: flex
        margin: 0.5rem 1rem 1rem
        align-items: center
    &.hidden
        opacity: 0
    &:hover
        opacity: 100%
    &__progress
        height: 1rem
        position: relative
    &-extra 
        margin-left: auto

.progress
    border-radius: 0.4rem
    width: 100%
    height: inherit
    pointer-events: none
    &-seek 
        width: calc(100% - 4px)
        background: linear-gradient(to right, mistyrose 0%, mistyrose 0%, #fff 0%, #fff 100%)
        &:hover + .progress-tooltip
            opacity: 100%
            transition: all 0.25s linear

    &-tooltip 
        opacity: 0
        transition: all 0.25s linear
        position: absolute
        top: -1.2rem
        content: attr(data-title)

button
    border: 0
    background: transparent 
.button
    &__audio
        &-play, &-next, &-prev
            height: 1.5rem
            img
                height: inherit
                filter: contrast(0.25)
                transition: all 0.2s ease
                &:hover
                    filter: contrast(0.1)
                    transition: all 0.2s ease
        &-play 
            margin-left: auto
            img
                display: block
                &.hidden
                    display: none
    &__play
        box-sizing: border-box
        width: 0
        height: 1rem
        border-color: transparent transparent transparent white
        border-style: solid
        border-width: 0.5rem 0 0.5rem 0.9rem
        transition: all 0.1s linear
        cursor: pointer

        &.paused
            border-style: double
            border-width: 0 0 0 0.9rem
        &:hover 
            border-color: transparent transparent transparent mistyrose
    &__pip
        cursor: pointer
        svg
            width: 1.2rem
            height: 1.2rem
            color: white
            &:hover
                color: mistyrose
            &.hidden
                display: none
    &__sound-state
        // width: 8rem
        // display: flex
        // justify-content: flex-start
        svg 
            color: white
            padding: 0.5rem
            cursor: pointer
            transition: all 0.3s ease
            width: 1.2rem
            height: 1.2rem
            &:hover
                color: mistyrose
                transition: all 0.3s ease
        .hidden
            display: none
        // &:hover + .volume-slider
        //     opacity: 100

.volume-slider
    // opacity: 0
    height: 0.3rem
    &[type="range"]
        &::-webkit-slider-thumb
            -webkit-appearance: none
            appearance: none
            outline: 0px solid lightslategray
            width: 0.4rem
            height: 0.4rem
            border-radius: 0.2rem
            background-color: lightslategray
            transition: all 0.2s linear