ul.playlist 
    li.playlist__item.current
        img(src='../files/lemonade.png')
        .playlist__item-info 
            p.item-name Don't hurt yourself
            p.item-artist Beyonce
            p.item-duration
        audio.audio(src="./beyonce.mp3") 
    li.playlist__item 
        img(src='../files/dontstartnow.png')
        .playlist__item-info
            p.item-name Don't start now
            p.item-artist Dua Lipa
            p.item-duration
        audio.audio(src="./dontstartnow.mp3") 
